@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #fff0dd;
    padding: 0px 10vw;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.order_place{
    font-family: arial;
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 20px 0px;
    cursor: pointer;
}
a{
    all:unset;
    cursor: pointer;
}
.menu-item-button{
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;
  padding: 10px 28px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  place-items: center;
}
.menu-item-button:hover {
    background-color: white;
    color: #b1454a;
    cursor: pointer;
  }
  .menu-item-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
  }
  .food-item-checkmark {
    width: 24px;
    height: 24px;
    background-image: url(assets/check.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    background-color: #b1454a;
  }
  
  .food-item-checkmark-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
  }
  
  input {
    all: unset;
  }
  
  input::placeholder {
    color: #fff;
    opacity: 0.5;
    font-size: 18px;
  }
  